{"openapi":"3.0.1","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"http://api.cleanverse.com","description":"Generated server url"}],"paths":{"/notification/transak_webhook":{"get":{"tags":["notification-router"],"operationId":"transakWebhook","parameters":[{"name":"requestData","in":"query","required":true,"schema":{"$ref":"#/components/schemas/JSONObject"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"post":{"tags":["notification-router"],"operationId":"transakWebhook_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JSONObject"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/notification/sumsub_webhook":{"get":{"tags":["notification-router"],"operationId":"sumsubWebhook","parameters":[{"name":"requestData","in":"query","required":true,"schema":{"$ref":"#/components/schemas/JSONObject"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"post":{"tags":["notification-router"],"operationId":"sumsubWebhook_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JSONObject"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/notification/nylas_auth_callback":{"get":{"tags":["notification-router"],"operationId":"nylasAuthCallback","parameters":[{"name":"requestParam","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"requestData","in":"query","required":true,"schema":{"$ref":"#/components/schemas/JSONObject"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"post":{"tags":["notification-router"],"operationId":"nylasAuthCallback_1","parameters":[{"name":"requestParam","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JSONObject"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/notification/notification/allinpay":{"get":{"tags":["notification-router"],"operationId":"allinpayCheckoutCallback","parameters":[{"name":"requestData","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}},"post":{"tags":["notification-router"],"operationId":"allinpayCheckoutCallback_1","parameters":[{"name":"requestData","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/notification/dcscc_refund_callback":{"get":{"tags":["notification-router"],"operationId":"dcsccRefundCallback","parameters":[{"name":"requestParam","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"requestData","in":"query","required":true,"schema":{"$ref":"#/components/schemas/JSONObject"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"post":{"tags":["notification-router"],"operationId":"dcsccRefundCallback_1","parameters":[{"name":"requestParam","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JSONObject"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/notification/dcscc_order_notify_callback":{"get":{"tags":["notification-router"],"operationId":"dcsccOrderNotify","parameters":[{"name":"requestParam","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"requestData","in":"query","required":true,"schema":{"$ref":"#/components/schemas/JSONObject"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"post":{"tags":["notification-router"],"operationId":"dcsccOrderNotify_1","parameters":[{"name":"requestParam","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JSONObject"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/notification/dcscc/checkout":{"get":{"tags":["notification-router"],"operationId":"dcsccCheckoutCallback","parameters":[{"name":"requestData","in":"query","required":true,"schema":{"$ref":"#/components/schemas/JSONObject"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"post":{"tags":["notification-router"],"operationId":"dcsccCheckoutCallback_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JSONObject"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/amber/sg/trade/orders/update":{"put":{"tags":["amber-sgp-controller"],"operationId":"updateCnfOrder","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AmberSgpUpdateCnfOrderRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseObject"}}}}}}},"/api/amber/sg/trade/orders/cancel":{"put":{"tags":["amber-sgp-controller"],"operationId":"cancelCnfOrder","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AmberSgpCancelCnfOrderRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseObject"}}}}}}},"/notification/baofu":{"post":{"tags":["notification-router"],"operationId":"ReciveBaofu","parameters":[{"name":"fpnre","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/notification/alchemypay_on_ramp_callback":{"post":{"tags":["notification-router"],"operationId":"alchemypayOnRampCallback","parameters":[{"name":"timestamp","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JSONObject"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/notification/alchemypay_off_ramp_callback":{"post":{"tags":["notification-router"],"operationId":"alchemypayOffRampCallback","parameters":[{"name":"timestamp","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JSONObject"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/singpass/token":{"post":{"tags":["sing-pass-ctl"],"operationId":"exchangeToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseObject"}}}}}}},"/api/ramp/user/send_otp":{"post":{"tags":["ramp-router"],"operationId":"sendUserOtp","parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/query_alchemypay_ip":{"post":{"tags":["ramp-router"],"operationId":"queryAlchemyPayIp","parameters":[{"name":"ipAddress","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/get_symbol_from_curless":{"post":{"tags":["ramp-router"],"operationId":"getSymbolFromCurless","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/get_fiat_remittance_from_curless":{"post":{"tags":["ramp-router"],"operationId":"getFiatRemittanceFromCurless","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/get_fiat_payee_accounts_from_curless":{"post":{"tags":["ramp-router"],"operationId":"getFiatPayeeAccountsFromCurless","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/get_fiat_deposits_from_curless":{"post":{"tags":["ramp-router"],"operationId":"getFiatDepositsFromCurless","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/get_fiat_accounts_from_curless":{"post":{"tags":["ramp-router"],"operationId":"getFiatAccountsFromCurless","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/get_exchange_rate_from_curless":{"post":{"tags":["ramp-router"],"operationId":"getExchangeRateFromCurless","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/get_crypto_payee_accounts_from_curless":{"post":{"tags":["ramp-router"],"operationId":"getCryptoPayeeAccountsFromCurless","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/get_crypto_pay_outs_from_curless":{"post":{"tags":["ramp-router"],"operationId":"getCryptoPayOutsFromCurless","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/get_crypto_pay_out_from_curless":{"post":{"tags":["ramp-router"],"operationId":"getCryptoPayOutFromCurless","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/get_crypto_accounts_from_curless":{"post":{"tags":["ramp-router"],"operationId":"getCryptoAccountsFromCurless","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/get_conversions_from_curless":{"post":{"tags":["ramp-router"],"operationId":"getConversionsFromCurless","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/get_conversion_from_curless":{"post":{"tags":["ramp-router"],"operationId":"getConversionFromCurless","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/get_balance_from_curless":{"post":{"tags":["ramp-router"],"operationId":"getBalanceFromCurless","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/create_widget_url":{"post":{"tags":["ramp-router"],"operationId":"createWidgetUrl","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RampRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/create_transak_widget_url":{"post":{"tags":["ramp-router"],"operationId":"createTransakWidgetUrl","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RampRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/create_fiat_remittance_from_curless":{"post":{"tags":["ramp-router"],"operationId":"createFiatRemittanceFromCurless","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/create_crypto_recipient_from_curless":{"post":{"tags":["ramp-router"],"operationId":"createCryptoRecipientFromCurless","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/create_crypto_pay_out_from_curless":{"post":{"tags":["ramp-router"],"operationId":"createCryptoPayOutFromCurless","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/create_conversion_from_curless":{"post":{"tags":["ramp-router"],"operationId":"createConversionFromCurless","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/create_beneficiary_from_curless":{"post":{"tags":["ramp-router"],"operationId":"createBeneficiaryFromCurless","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/create_alchemypay_widget_url":{"post":{"tags":["ramp-router"],"operationId":"createAlchemyPayWidgetUrl","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RampRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/create_alchemypay_order":{"post":{"tags":["ramp-router"],"operationId":"createAlchemyPayOrder","parameters":[{"name":"payWayCode","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RampRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/alchemypay_share_token_user_register":{"post":{"tags":["ramp-router"],"operationId":"alchemypayShareTokenUserRegister","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RampRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/alchemypay_get_token":{"post":{"tags":["ramp-router"],"operationId":"alchemypayGetToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RampRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/payment/execute":{"post":{"tags":["payment-router"],"operationId":"executeBaofuPayment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/finance/page-pay":{"post":{"tags":["finance-router"],"operationId":"pagePay","parameters":[{"name":"currency","in":"query","required":true,"schema":{"type":"string"}},{"name":"amount","in":"query","required":true,"schema":{"type":"string"}},{"name":"returnUrl","in":"query","required":true,"schema":{"type":"string"}},{"name":"notifyUrl","in":"query","required":true,"schema":{"type":"string"}},{"name":"accessOrderId","in":"query","required":false,"schema":{"type":"string"}},{"name":"email","in":"query","required":false,"schema":{"type":"string"}},{"name":"language","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMapStringObject"}}}}}}},"/api/finance/dcsccVoid":{"post":{"tags":["finance-router"],"operationId":"voidTxn","parameters":[{"name":"orgRequestNum","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMapStringObject"}}}}}}},"/api/finance/dcsccQrCodeScanPay":{"post":{"tags":["finance-router"],"operationId":"dcsccQrCodeScanPay","parameters":[{"name":"codeValue","in":"query","required":true,"schema":{"type":"string"}},{"name":"customerId","in":"query","required":true,"schema":{"type":"string"}},{"name":"clientIP","in":"query","required":true,"schema":{"type":"string"}},{"name":"isKYCUser","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"extInfo","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/finance/dcsccQrCodeReportQuery":{"post":{"tags":["finance-router"],"operationId":"dcsccQrCodeReportQuery","parameters":[{"name":"reportDate","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/finance/dcsccQrCodeQuery":{"post":{"tags":["finance-router"],"operationId":"dcsccQrCodeQuery","parameters":[{"name":"region","in":"query","required":true,"schema":{"type":"string"}},{"name":"extInfo","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/finance/dcsccQrCodePayNotify":{"post":{"tags":["finance-router"],"operationId":"dcsccQrCodePayNotify","parameters":[{"name":"txnId","in":"query","required":true,"schema":{"type":"string"}},{"name":"partnerPaymentId","in":"query","required":true,"schema":{"type":"string"}},{"name":"payCurrency","in":"query","required":true,"schema":{"type":"string"}},{"name":"payAmount","in":"query","required":true,"schema":{"type":"string"}},{"name":"payTime","in":"query","required":true,"schema":{"type":"string"}},{"name":"payChain","in":"query","required":true,"schema":{"type":"string"}},{"name":"payTxnHash","in":"query","required":true,"schema":{"type":"string"}},{"name":"backChain","in":"query","required":true,"schema":{"type":"string"}},{"name":"backChainAddress","in":"query","required":true,"schema":{"type":"string"}},{"name":"extInfo","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/finance/dcsccQrCodeOrderQuery":{"post":{"tags":["finance-router"],"operationId":"dcsccQrCodeOrderQuery","parameters":[{"name":"txnId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/finance/dcsccQrCodeCreatePay":{"post":{"tags":["finance-router"],"operationId":"dcsccQrCodeCreatePay","parameters":[{"name":"codeValue","in":"query","required":true,"schema":{"type":"string"}},{"name":"customerId","in":"query","required":true,"schema":{"type":"string"}},{"name":"clientIP","in":"query","required":true,"schema":{"type":"string"}},{"name":"currency","in":"query","required":true,"schema":{"type":"string"}},{"name":"amount","in":"query","required":true,"schema":{"type":"string"}},{"name":"isKYCUser","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"custName","in":"query","required":false,"schema":{"type":"string"}},{"name":"custNationCode","in":"query","required":false,"schema":{"type":"string"}},{"name":"custFirstName","in":"query","required":false,"schema":{"type":"string"}},{"name":"custLastName","in":"query","required":false,"schema":{"type":"string"}},{"name":"mobile","in":"query","required":false,"schema":{"type":"string"}},{"name":"email","in":"query","required":false,"schema":{"type":"string"}},{"name":"gender","in":"query","required":false,"schema":{"type":"string"}},{"name":"legalNationCode","in":"query","required":false,"schema":{"type":"string"}},{"name":"legalType","in":"query","required":false,"schema":{"type":"string"}},{"name":"legalId","in":"query","required":false,"schema":{"type":"string"}},{"name":"extInfo","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/finance/card-check":{"post":{"tags":["finance-router"],"operationId":"cardCheck","parameters":[{"name":"cardNum","in":"query","required":true,"schema":{"type":"string"}},{"name":"cardName","in":"query","required":false,"schema":{"type":"string"}},{"name":"expiryMonth","in":"query","required":false,"schema":{"type":"string"}},{"name":"expiryYear","in":"query","required":false,"schema":{"type":"string"}},{"name":"cvv","in":"query","required":false,"schema":{"type":"string"}},{"name":"redirectUrl","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMapStringObject"}}}}}}},"/api/document/recognize":{"post":{"tags":["document-recognition-router"],"operationId":"recognizeDocument","parameters":[{"name":"docType","in":"query","required":true,"schema":{"type":"string"}},{"name":"frontImagePath","in":"query","required":true,"schema":{"type":"string"}},{"name":"backImagePath","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMapStringObject"}}}}}}},"/api/document/liveness-check":{"post":{"tags":["document-recognition-router"],"operationId":"livenessCheck","parameters":[{"name":"video_path","in":"query","required":true,"schema":{"type":"string"}},{"name":"image_path","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMapStringObject"}}}}}}},"/api/business/verification/idNumber":{"post":{"tags":["business-router"],"operationId":"idNumberVerification","parameters":[{"name":"extChenqi\n5月9日 12:13ernalUserId","in":"query","required":true,"schema":{"type":"string"}},{"name":"idNumber","in":"query","required":false,"schema":{"type":"string"}},{"name":"countryCode","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/business/verification/getApplicantLatest":{"post":{"tags":["business-router"],"operationId":"getApplicantLatest","parameters":[{"name":"applicationId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/business/get_person_detail_info":{"post":{"tags":["business-router"],"operationId":"get_person_detail_info","parameters":[{"name":"uen","in":"query","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","required":false,"schema":{"type":"string"}},{"name":"personName","in":"query","required":false,"schema":{"type":"string"}},{"name":"personId","in":"query","required":false,"schema":{"type":"string"}},{"name":"role","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/business/get_entity_basic_info":{"post":{"tags":["business-router"],"operationId":"get_entity_basic_info","parameters":[{"name":"uen","in":"query","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","required":false,"schema":{"type":"string"}},{"name":"officerType","in":"query","required":false,"schema":{"type":"string"}},{"name":"position","in":"query","required":false,"schema":{"type":"string"}},{"name":"reason","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/business/get_company_info":{"post":{"tags":["business-router"],"operationId":"get_account_info","parameters":[{"name":"isoCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"companyRegistrationNumber","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/business/getSumsubApplicatData":{"post":{"tags":["business-router"],"operationId":"getSumsubApplicantData","parameters":[{"name":"applicationId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/business/generateSumsubAccessToken":{"post":{"tags":["business-router"],"operationId":"generateSumsubAccessToken","parameters":[{"name":"externalUserId","in":"query","required":true,"schema":{"type":"string"}},{"name":"levelName","in":"query","required":true,"schema":{"type":"string"}},{"name":"email","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/business/companies":{"post":{"tags":["business-router"],"operationId":"getCompanies","parameters":[{"name":"isoCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"companyRegistrationNumber","in":"query","required":false,"schema":{"type":"string"}},{"name":"companyName","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/business/companies/people":{"post":{"tags":["business-router"],"operationId":"getCompaniesPeople","parameters":[{"name":"uen","in":"query","required":true,"schema":{"type":"string"}},{"name":"personName","in":"query","required":true,"schema":{"type":"string"}},{"name":"role","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/business/companies/lei":{"post":{"tags":["business-router"],"operationId":"getLei","parameters":[{"name":"bic","in":"query","required":false,"schema":{"type":"string"}},{"name":"lei","in":"query","required":false,"schema":{"type":"string"}},{"name":"isin","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/business/companies/detail":{"post":{"tags":["business-router"],"operationId":"getCompanyDetail","parameters":[{"name":"companyId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/verify_account_confirm":{"post":{"tags":["bank-account-router"],"operationId":"verify_account_confirm","parameters":[{"name":"verify_tr_dt","in":"query","required":true,"schema":{"type":"string"}},{"name":"verify_tr_no","in":"query","required":true,"schema":{"type":"string"}},{"name":"code","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/verify_account_by_ipid":{"post":{"tags":["bank-account-router"],"operationId":"verifyAccountByIpid","parameters":[{"name":"country","in":"query","required":false,"schema":{"type":"string"}},{"name":"accountNumber","in":"query","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"givenName","in":"query","required":false,"schema":{"type":"string"}},{"name":"surname","in":"query","required":false,"schema":{"type":"string"}},{"name":"codeType","in":"query","required":false,"schema":{"type":"string"}},{"name":"code","in":"query","required":false,"schema":{"type":"string"}},{"name":"accountHolderType","in":"query","required":false,"schema":{"type":"string"}},{"name":"identificationValue","in":"query","required":false,"schema":{"type":"string"}},{"name":"identificationType","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/verify_account":{"post":{"tags":["bank-account-router"],"operationId":"verify_account","parameters":[{"name":"country","in":"query","required":false,"schema":{"type":"string"}},{"name":"currency","in":"query","required":false,"schema":{"type":"string"}},{"name":"accountNumber","in":"query","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"query","required":true,"schema":{"type":"string"}},{"name":"id","in":"query","required":false,"schema":{"type":"string"}},{"name":"codeType","in":"query","required":false,"schema":{"type":"string"}},{"name":"code","in":"query","required":false,"schema":{"type":"string"}},{"name":"givenName","in":"query","required":false,"schema":{"type":"string"}},{"name":"surname","in":"query","required":false,"schema":{"type":"string"}},{"name":"accountHolderType","in":"query","required":false,"schema":{"type":"string"}},{"name":"identificationValue","in":"query","required":false,"schema":{"type":"string"}},{"name":"identificationType","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/set_user_token":{"post":{"tags":["bank-account-router"],"operationId":"setUserToken","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/set_access_token":{"post":{"tags":["bank-account-router"],"operationId":"setAccessToken","parameters":[{"name":"public_token","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/search_routingcode":{"post":{"tags":["bank-account-router"],"operationId":"search_routingcode","parameters":[{"name":"country","in":"query","required":true,"schema":{"type":"string"}},{"name":"codeType","in":"query","required":true,"schema":{"type":"string"}},{"name":"searchValue","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/saltedge_create_customer":{"post":{"tags":["bank-account-router"],"operationId":"getSaltEdgeCreateCustomer","parameters":[{"name":"customerId","in":"query","required":true,"schema":{"type":"string"}},{"name":"email","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/saltedge_connect_list":{"post":{"tags":["bank-account-router"],"operationId":"getSaltEdgeConnectList","parameters":[{"name":"customerId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/saltedge_connect":{"post":{"tags":["bank-account-router"],"operationId":"getSaltEdgeConnect","parameters":[{"name":"customerId","in":"query","required":true,"schema":{"type":"string"}},{"name":"workflowId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/saltedge_account_list":{"post":{"tags":["bank-account-router"],"operationId":"getSaltEdgeAccountList","parameters":[{"name":"connectId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/nium_verify_bank_account":{"post":{"tags":["bank-account-router"],"operationId":"NiumVerifyBankAccount","parameters":[{"name":"accountHolderName","in":"query","required":true,"schema":{"type":"string"}},{"name":"accountNumber","in":"query","required":true,"schema":{"type":"string"}},{"name":"country","in":"query","required":true,"schema":{"type":"string"}},{"name":"currency","in":"query","required":true,"schema":{"type":"string"}},{"name":"swift","in":"query","required":false,"schema":{"type":"string"}},{"name":"bankCode","in":"query","required":false,"schema":{"type":"string"}},{"name":"sortCode","in":"query","required":false,"schema":{"type":"string"}},{"name":"achCode","in":"query","required":false,"schema":{"type":"string"}},{"name":"ifsc","in":"query","required":false,"schema":{"type":"string"}},{"name":"iban","in":"query","required":false,"schema":{"type":"string"}},{"name":"externalId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/ipid/public_key":{"post":{"tags":["bank-account-router"],"operationId":"ipidPublicKey","parameters":[{"name":"countryCode","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/info":{"post":{"tags":["bank-account-router"],"operationId":"info","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/indonesia_npwp_validator_result":{"post":{"tags":["bank-account-router"],"operationId":"indonesiaNpwpValidatorResult","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/indonesia_npwp_validator":{"post":{"tags":["bank-account-router"],"operationId":"indonesiaNpwpValidator","parameters":[{"name":"accountNumber","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/indonesia_id_card_verifications":{"post":{"tags":["bank-account-router"],"operationId":"indonesiaIdCardDataVerifications","parameters":[{"name":"idCardNumber","in":"query","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","required":true,"schema":{"type":"string"}},{"name":"birthdate","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/indonesia_ewallet_validator_result":{"post":{"tags":["bank-account-router"],"operationId":"indonesiaEwalletValidatorResult","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/indonesia_ewallet_validator":{"post":{"tags":["bank-account-router"],"operationId":"indonesiaEwalletValidator","parameters":[{"name":"ewalletAccountNumber","in":"query","required":true,"schema":{"type":"string"}},{"name":"ewalletType","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/indonesia_bank_validator_result":{"post":{"tags":["bank-account-router"],"operationId":"indonesiaBankValidatorResult","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/indonesia_bank_validator":{"post":{"tags":["bank-account-router"],"operationId":"indonesiaBankValidator","parameters":[{"name":"bankAccountNumber","in":"query","required":true,"schema":{"type":"string"}},{"name":"bankCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"givenName","in":"query","required":true,"schema":{"type":"string"}},{"name":"surname","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/indonesia_bank_account_validator_result":{"post":{"tags":["bank-account-router"],"operationId":"indonesiaBankAccountValidatorResult","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/indonesia_bank_account_validator":{"post":{"tags":["bank-account-router"],"operationId":"indonesiaBankAccountValidator","parameters":[{"name":"bankAccountNumber","in":"query","required":true,"schema":{"type":"string"}},{"name":"bankCode","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/identity_match":{"post":{"tags":["bank-account-router"],"operationId":"getIdentityMatch","parameters":[{"name":"accessToken","in":"query","required":true,"schema":{"type":"string"}},{"name":"emailAddress","in":"query","required":false,"schema":{"type":"string"}},{"name":"legalName","in":"query","required":false,"schema":{"type":"string"}},{"name":"phoneNumber","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/identity":{"post":{"tags":["bank-account-router"],"operationId":"getIdentity","parameters":[{"name":"accessToken","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/get_institution_via_plaid":{"post":{"tags":["bank-account-router"],"operationId":"getInstitutions","parameters":[{"name":"institutionId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/get_account_info":{"post":{"tags":["bank-account-router"],"operationId":"get_account_info_1","parameters":[{"name":"customerIdOrToken","in":"query","required":true,"schema":{"type":"string"}},{"name":"channel","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/create_link_token":{"post":{"tags":["bank-account-router"],"operationId":"createLinkToken","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"string"}},{"name":"language","in":"query","required":false,"schema":{"type":"string"}},{"name":"androidPackageName","in":"query","required":false,"schema":{"type":"string"}},{"name":"redirectUrl","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/create_link":{"post":{"tags":["bank-account-router"],"operationId":"create_link","parameters":[{"name":"customerId","in":"query","required":true,"schema":{"type":"string"}},{"name":"workflowId","in":"query","required":true,"schema":{"type":"string"}},{"name":"language","in":"query","required":false,"schema":{"type":"string"}},{"name":"channel","in":"query","required":false,"schema":{"type":"string"}},{"name":"country","in":"query","required":false,"schema":{"type":"string"}},{"name":"androidPackageName","in":"query","required":false,"schema":{"type":"string"}},{"name":"redirectUrl","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/create_customer":{"post":{"tags":["bank-account-router"],"operationId":"create_customer","parameters":[{"name":"customerId","in":"query","required":true,"schema":{"type":"string"}},{"name":"email","in":"query","required":true,"schema":{"type":"string"}},{"name":"channel","in":"query","required":false,"schema":{"type":"string"}},{"name":"countryAlpha2","in":"query","required":false,"schema":{"type":"string"}},{"name":"countryAlpha3","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/common_verify_bank_account":{"post":{"tags":["bank-account-router"],"operationId":"CommonVerifyBankAccount","parameters":[{"name":"accountHolderName","in":"query","required":true,"schema":{"type":"string"}},{"name":"accountNumber","in":"query","required":true,"schema":{"type":"string"}},{"name":"country","in":"query","required":true,"schema":{"type":"string"}},{"name":"currency","in":"query","required":true,"schema":{"type":"string"}},{"name":"codeType","in":"query","required":true,"schema":{"type":"string"}},{"name":"codeValue","in":"query","required":true,"schema":{"type":"string"}},{"name":"swift","in":"query","required":false,"schema":{"type":"string"}},{"name":"bankCode","in":"query","required":false,"schema":{"type":"string"}},{"name":"sortCode","in":"query","required":false,"schema":{"type":"string"}},{"name":"achCode","in":"query","required":false,"schema":{"type":"string"}},{"name":"ifsc","in":"query","required":false,"schema":{"type":"string"}},{"name":"iban","in":"query","required":false,"schema":{"type":"string"}},{"name":"externalId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/balance":{"post":{"tags":["bank-account-router"],"operationId":"getBalance","parameters":[{"name":"accessToken","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/accounts":{"post":{"tags":["bank-account-router"],"operationId":"getAccounts","parameters":[{"name":"accessToken","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/amber/withdrawals":{"get":{"tags":["amber-controller"],"operationId":"withdrawals","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseAmberPageAmberWithdrawal"}}}}}},"post":{"tags":["amber-controller"],"operationId":"createWithdrawal","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}},{"name":"idempotencyKey","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AmberCreateWithdrawalRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseAmberCreateWithdrawalResult"}}}}}}},"/api/amber/swap/orders":{"get":{"tags":["amber-controller"],"operationId":"swapOrders","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseAmberPageAmberSwapOrder"}}}}}},"post":{"tags":["amber-controller"],"operationId":"createSwap","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}},{"name":"idempotencyKey","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AmberCreateSwapOrderRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseAmberSwapOrder"}}}}}}},"/api/amber/sg/withdrawals":{"get":{"tags":["amber-sgp-controller"],"operationId":"withdrawals_1","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseAmberPageAmberWithdrawal"}}}}}},"post":{"tags":["amber-sgp-controller"],"operationId":"createWithdrawal_1","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}},{"name":"idempotencyKey","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AmberSgpCreateWithdrawalRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseAmberSgpCreateWithdrawalResult"}}}}}}},"/api/amber/sg/trade/orders":{"get":{"tags":["amber-sgp-controller"],"operationId":"cnfOrders","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseObject"}}}}}},"post":{"tags":["amber-sgp-controller"],"operationId":"createCnfOrder","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}},{"name":"idempotencyKey","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AmberSgpCreateCnfOrderRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseObject"}}}}}}},"/api/address/retrieve_address_risk":{"post":{"tags":["address-router"],"operationId":"retrieveAddressRisk","parameters":[{"name":"address","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/address/register_address":{"post":{"tags":["address-router"],"operationId":"registerAddress","parameters":[{"name":"address","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/account/coocon/verify_account":{"post":{"tags":["coocon-bank-account-ctl"],"operationId":"verifyKoreaBankAccount","parameters":[{"name":"country","in":"query","required":false,"schema":{"type":"string"}},{"name":"currency","in":"query","required":false,"schema":{"type":"string"}},{"name":"accountName","in":"query","required":true,"schema":{"type":"string"}},{"name":"accountNumber","in":"query","required":true,"schema":{"type":"string"}},{"name":"code","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/account/connect/email/messages":{"post":{"tags":["account-router"],"operationId":"getMessage","parameters":[{"name":"provider","in":"query","required":false,"schema":{"type":"string","default":"nylas"}},{"name":"grantId","in":"query","required":true,"schema":{"type":"string"}},{"name":"accessToken","in":"query","required":false,"schema":{"type":"string"}},{"name":"refreshToken","in":"query","required":false,"schema":{"type":"string"}},{"name":"imapHost","in":"query","required":false,"schema":{"type":"string"}},{"name":"imapPort","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"username","in":"query","required":false,"schema":{"type":"string"}},{"name":"password","in":"query","required":false,"schema":{"type":"string"}},{"name":"folder","in":"query","required":false,"schema":{"type":"string"}},{"name":"name","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/account/connect/email/bind-imap":{"post":{"tags":["account-router"],"operationId":"bindImap","parameters":[{"name":"imapHost","in":"query","required":true,"schema":{"type":"string"}},{"name":"imapPort","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":993}},{"name":"username","in":"query","required":true,"schema":{"type":"string"}},{"name":"password","in":"query","required":true,"schema":{"type":"string"}},{"name":"folder","in":"query","required":false,"schema":{"type":"string","default":"INBOX"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/account/connect/email/auth":{"post":{"tags":["account-router"],"operationId":"connectEmailAuth","parameters":[{"name":"provider","in":"query","required":false,"schema":{"type":"string","default":"nylas"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/account/connect/email/access_token":{"post":{"tags":["account-router"],"operationId":"getAccessToken","parameters":[{"name":"code","in":"query","required":true,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string","default":"nylas"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/singpass/auth-url":{"get":{"tags":["sing-pass-ctl"],"operationId":"getAuthUrl","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseAuthUrlResponse"}}}}}}},"/api/ramp/get_quote":{"get":{"tags":["ramp-router"],"operationId":"getQuote","parameters":[{"name":"fiatCurrency","in":"query","required":true,"schema":{"type":"string"}},{"name":"cryptoCurrency","in":"query","required":true,"schema":{"type":"string"}},{"name":"isBuyOrSell","in":"query","required":true,"schema":{"type":"string"}},{"name":"network","in":"query","required":true,"schema":{"type":"string"}},{"name":"paymentMethod","in":"query","required":true,"schema":{"type":"string"}},{"name":"fiatAmount","in":"query","required":false,"schema":{"type":"number","format":"double"}},{"name":"cryptoAmount","in":"query","required":false,"schema":{"type":"number","format":"double"}},{"name":"partnerCustomerId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/get_order_by_id/{orderId}":{"get":{"tags":["ramp-router"],"operationId":"getOrderById","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/get_fiat_currencies":{"get":{"tags":["ramp-router"],"operationId":"getFiatCurrencies","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/get_crypto_currencies":{"get":{"tags":["ramp-router"],"operationId":"getCryptoCurrencies","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/get_countries":{"get":{"tags":["ramp-router"],"operationId":"getCountries","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/get_alchemypay_quote":{"get":{"tags":["ramp-router"],"operationId":"getAlchemyPayQuote","parameters":[{"name":"side","in":"query","required":false,"schema":{"type":"string","default":"BUY"}},{"name":"fiatCurrency","in":"query","required":false,"schema":{"type":"string"}},{"name":"cryptoCurrency","in":"query","required":false,"schema":{"type":"string"}},{"name":"network","in":"query","required":false,"schema":{"type":"string"}},{"name":"payWayCode","in":"query","required":false,"schema":{"type":"string"}},{"name":"fiatAmount","in":"query","required":false,"schema":{"type":"string"}},{"name":"cryptoQuantity","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/get_alchemypay_order_by_id/{merchantOrderNo}":{"get":{"tags":["ramp-router"],"operationId":"getAlchemyPayOrderById","parameters":[{"name":"merchantOrderNo","in":"path","required":true,"schema":{"type":"string"}},{"name":"side","in":"query","required":false,"schema":{"type":"string","default":"BUY"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/get_alchemypay_fiat_currencies":{"get":{"tags":["ramp-router"],"operationId":"getAlchemyPayFiatCurrencies","parameters":[{"name":"type","in":"query","required":false,"schema":{"type":"string","default":"BUY"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ramp/get_alchemypay_crypto_currencies":{"get":{"tags":["ramp-router"],"operationId":"getAlchemyPayCryptoCurrencies","parameters":[{"name":"fiat","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/payment/query/{transNo}":{"get":{"tags":["payment-router"],"operationId":"queryBaofuPayment","parameters":[{"name":"transNo","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/datasource/unConsolidated":{"get":{"tags":["data-source-router"],"operationId":"unConsolidated","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/datasource/ofacSDN":{"get":{"tags":["data-source-router"],"operationId":"ofacSDN","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/datasource/fatfRiskJurisdiction":{"get":{"tags":["data-source-router"],"operationId":"fatfRiskJurisdiction","parameters":[{"name":"cache","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/datasource/baselAMLRanking":{"get":{"tags":["data-source-router"],"operationId":"baselAMLRanking","parameters":[{"name":"cache","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/config/verify_channel":{"get":{"tags":["config-router"],"operationId":"getVerifyChannel","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/config/send_sms":{"get":{"tags":["config-router"],"operationId":"sendSMS","parameters":[{"name":"to","in":"query","required":true,"schema":{"type":"string"}},{"name":"m","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/saltedge_provider_list":{"get":{"tags":["bank-account-router"],"operationId":"getSaltEdgeProviderList","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/saltedge_country_list":{"get":{"tags":["bank-account-router"],"operationId":"getSaltEdgeCountryList","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/indonesia_getAccessToken":{"get":{"tags":["bank-account-router"],"operationId":"getIndonesiaAccessToken","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/bankAccount/indonesia_bank_list":{"get":{"tags":["bank-account-router"],"operationId":"getIndonesiaBankList","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/amber/withdrawals/{id}":{"get":{"tags":["amber-controller"],"operationId":"withdrawal","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseAmberWithdrawalDetail"}}}}}}},"/api/amber/swap/price":{"get":{"tags":["amber-controller"],"operationId":"swapPrice","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}},{"name":"fromCurrency","in":"query","required":true,"schema":{"type":"string"}},{"name":"toCurrency","in":"query","required":true,"schema":{"type":"string"}},{"name":"fromQuantity","in":"query","required":false,"schema":{"type":"string"}},{"name":"quantity","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseAmberSwapPrice"}}}}}}},"/api/amber/swap/orders/{id}":{"get":{"tags":["amber-controller"],"operationId":"swapOrder","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseAmberSwapOrder"}}}}}}},"/api/amber/swap/orders/by-client/{clientId}":{"get":{"tags":["amber-controller"],"operationId":"swapOrderByClient","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}},{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseAmberSwapOrder"}}}}}}},"/api/amber/swap/currency-config":{"get":{"tags":["amber-controller"],"operationId":"swapCurrencyConfig","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseMapStringAmberSwapCurrencyConfigItem"}}}}}}},"/api/amber/sg/transfers":{"get":{"tags":["amber-sgp-controller"],"operationId":"transfers","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseAmberPageObject"}}}}}}},"/api/amber/sg/trade/transactions":{"get":{"tags":["amber-sgp-controller"],"operationId":"cnfTransactions","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseObject"}}}}}}},"/api/amber/sg/trade/symbols":{"get":{"tags":["amber-sgp-controller"],"operationId":"cnfSymbols","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseObject"}}}}}}},"/api/amber/sg/trade/price":{"get":{"tags":["amber-sgp-controller"],"operationId":"cnfPrice","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseObject"}}}}}}},"/api/amber/sg/trade/orders/{id}":{"get":{"tags":["amber-sgp-controller"],"operationId":"cnfOrder","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseObject"}}}}}}},"/api/amber/sg/trade/orders/by-client/{clientId}":{"get":{"tags":["amber-sgp-controller"],"operationId":"cnfOrderByClient","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}},{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseObject"}}}}}}},"/api/amber/sg/trade/kline":{"get":{"tags":["amber-sgp-controller"],"operationId":"cnfKline","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseObject"}}}}}}},"/api/amber/sg/deposits":{"get":{"tags":["amber-sgp-controller"],"operationId":"deposits","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseAmberPageAmberDeposit"}}}}}}},"/api/amber/sg/config":{"get":{"tags":["amber-sgp-controller"],"operationId":"config","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseMapStringAmberCurrencyConfig"}}}}}}},"/api/amber/sg/balance":{"get":{"tags":["amber-sgp-controller"],"operationId":"balance","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseAmberAccountBalance"}}}}}}},"/api/amber/sg/addresses/user":{"get":{"tags":["amber-sgp-controller"],"operationId":"userAddresses","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseAmberPageAmberAddress"}}}}}}},"/api/amber/sg/addresses/deposit":{"get":{"tags":["amber-sgp-controller"],"operationId":"depositAddresses","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseListAmberSgpDepositAddressItem"}}}}}}},"/api/amber/deposits":{"get":{"tags":["amber-controller"],"operationId":"deposits_1","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseAmberPageAmberDeposit"}}}}}}},"/api/amber/deposits/{id}":{"get":{"tags":["amber-controller"],"operationId":"deposit","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseAmberDepositDetail"}}}}}}},"/api/amber/config":{"get":{"tags":["amber-controller"],"operationId":"config_1","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseMapStringAmberCurrencyConfig"}}}}}}},"/api/amber/balance":{"get":{"tags":["amber-controller"],"operationId":"balance_1","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseAmberAccountBalance"}}}}}}},"/api/amber/addresses":{"get":{"tags":["amber-controller"],"operationId":"addresses","parameters":[{"name":"access-key","in":"header","required":true,"schema":{"type":"string"}},{"name":"access-secret","in":"header","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResponseAmberPageAmberAddress"}}}}}}}},"components":{"schemas":{"JSONObject":{"type":"object","properties":{"empty":{"type":"boolean"}},"additionalProperties":{"type":"object"}},"AmberSgpUpdateCnfOrderRequest":{"type":"object","properties":{"orderId":{"type":"string"},"price":{"type":"string"},"quantity":{"type":"string"}}},"BaseResponseObject":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"status":{"type":"string"},"message":{"type":"string"},"data":{"type":"object"}}},"AmberSgpCancelCnfOrderRequest":{"type":"object","properties":{"orderId":{"type":"string"}}},"TokenRequest":{"type":"object","properties":{"code":{"type":"string"},"codeVerifier":{"type":"string"},"redirectUri":{"type":"string"},"clientAssertion":{"type":"string"}}},"Address":{"type":"object","properties":{"addressLine1":{"type":"string"},"addressLine2":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"postCode":{"type":"string"},"countryCode":{"type":"string"}}},"AddressElement":{"type":"object"},"RampRequest":{"type":"object","properties":{"exchangeScreenTitle":{"type":"string"},"cryptoCurrencyCode":{"type":"string"},"fiatCurrency":{"type":"string"},"kycShareTokenProvider":{"type":"string"},"network":{"type":"string"},"kycShareToken":{"type":"string"},"sumsubApplicantId":{"type":"string"},"uuid":{"type":"string"},"email":{"type":"string"},"orderId":{"type":"string"},"redirectURL":{"type":"string"},"userData":{"$ref":"#/components/schemas/UserData"},"walletAddress":{"type":"string"},"fiatAmount":{"type":"number","format":"double"},"cryptoAmount":{"type":"number","format":"double"},"productsAvailed":{"type":"string"},"walletAddressData":{"$ref":"#/components/schemas/WalletAddressData"},"language":{"type":"string"},"userIP":{"type":"string"},"country":{"type":"string"}}},"UserData":{"type":"object","properties":{"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"mobileNumber":{"type":"string"},"bob":{"type":"string"},"address":{"$ref":"#/components/schemas/Address"}}},"WalletAddressData":{"type":"object","properties":{"networks":{"type":"array","items":{"$ref":"#/components/schemas/AddressElement"}},"coins":{"type":"array","items":{"$ref":"#/components/schemas/AddressElement"}}}},"PaymentRequest":{"required":["toAccName","toAccNo","toBankName","transMoney"],"type":"object","properties":{"transMoney":{"type":"string"},"toAccName":{"type":"string"},"toAccNo":{"type":"string"},"toBankName":{"type":"string"},"transCardId":{"type":"string"},"transMobile":{"type":"string"},"toProName":{"type":"string"},"toCityName":{"type":"string"},"toAccDept":{"type":"string"},"transNo":{"type":"string"},"transSummary":{"type":"string"}}},"ResultMapStringObject":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"object"},"timeStamp":{"type":"integer","format":"int64"}}},"AmberCreateWithdrawalRequest":{"type":"object","properties":{"amount":{"type":"string"},"addressId":{"type":"string"},"ccy":{"type":"string"},"comment":{"type":"string"}}},"AmberCreateWithdrawalResult":{"type":"object","properties":{"id":{"type":"string"}}},"BaseResponseAmberCreateWithdrawalResult":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"status":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AmberCreateWithdrawalResult"}}},"AmberCreateSwapOrderRequest":{"type":"object","properties":{"fromCurrency":{"type":"string"},"toCurrency":{"type":"string"},"price":{"type":"string"},"fromQuantity":{"type":"string"},"quantity":{"type":"string"},"clientId":{"type":"string"}}},"AmberSwapOrder":{"type":"object","properties":{"status":{"type":"string"},"price":{"type":"string"},"fromQuantity":{"type":"string"},"toQuantity":{"type":"string"},"id":{"type":"string"},"fromCurrency":{"type":"string"},"toCurrency":{"type":"string"},"createdAt":{"type":"string"}}},"BaseResponseAmberSwapOrder":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"status":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AmberSwapOrder"}}},"AmberSgpCreateWithdrawalRequest":{"type":"object","properties":{"amount":{"type":"string"},"addressId":{"type":"string"},"comment":{"type":"string"}}},"AmberSgpCreateWithdrawalResult":{"type":"object","properties":{"status":{"type":"string"},"id":{"type":"string"},"ccy":{"type":"string"},"chainProtocol":{"type":"string"},"address":{"type":"string"},"memo":{"type":"string"},"transactionHash":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"BaseResponseAmberSgpCreateWithdrawalResult":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"status":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AmberSgpCreateWithdrawalResult"}}},"AmberSgpCreateCnfOrderRequest":{"type":"object","properties":{"direction":{"type":"string"},"price":{"type":"string"},"strategy":{"type":"string"},"type":{"type":"string"},"clientId":{"type":"string"},"symbol":{"type":"string"},"quantity":{"type":"string"}}},"AuthUrlResponse":{"type":"object","properties":{"authUrl":{"type":"string"},"state":{"type":"string"},"codeVerifier":{"type":"string"}}},"BaseResponseAuthUrlResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"status":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AuthUrlResponse"}}},"AmberPageAmberWithdrawal":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/AmberWithdrawal"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"count":{"type":"integer","format":"int32"}}},"AmberWithdrawal":{"type":"object","properties":{"status":{"type":"string"},"id":{"type":"string"},"createdAt":{"type":"string"},"fee":{"type":"string"},"amount":{"type":"string"},"chainProtocol":{"type":"string"},"ccy":{"type":"string"},"transactionAddress":{"type":"string"},"comment":{"type":"string"},"transactionHash":{"type":"string"}}},"BaseResponseAmberPageAmberWithdrawal":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"status":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AmberPageAmberWithdrawal"}}},"AmberWithdrawalDetail":{"type":"object","properties":{"assetType":{"type":"string"},"status":{"type":"string"},"id":{"type":"string"},"amount":{"type":"string"},"fee":{"type":"string"},"arrivedAmount":{"type":"string"},"chainProtocol":{"type":"string"},"comment":{"type":"string"},"createdAt":{"type":"string"},"arrivedAt":{"type":"string"},"ccy":{"type":"string"},"remark":{"type":"string"},"transactionAddress":{"type":"string"},"transactionHash":{"type":"string"}}},"BaseResponseAmberWithdrawalDetail":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"status":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AmberWithdrawalDetail"}}},"AmberSwapPrice":{"type":"object","properties":{"price":{"type":"string"},"symbol":{"type":"string"}}},"BaseResponseAmberSwapPrice":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"status":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AmberSwapPrice"}}},"AmberPageAmberSwapOrder":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/AmberSwapOrder"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"count":{"type":"integer","format":"int32"}}},"BaseResponseAmberPageAmberSwapOrder":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"status":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AmberPageAmberSwapOrder"}}},"AmberSwapCurrencyConfigItem":{"type":"object","properties":{"quantityScale":{"type":"string"},"orderMaximum":{"type":"string"},"orderMinimum":{"type":"string"}}},"BaseResponseMapStringAmberSwapCurrencyConfigItem":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"status":{"type":"string"},"message":{"type":"string"},"data":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/AmberSwapCurrencyConfigItem"}}}},"AmberPageObject":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"count":{"type":"integer","format":"int32"}}},"BaseResponseAmberPageObject":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"status":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AmberPageObject"}}},"AmberDeposit":{"type":"object","properties":{"status":{"type":"string"},"id":{"type":"string"},"amount":{"type":"string"},"chainProtocol":{"type":"string"},"createdAt":{"type":"string"},"ccy":{"type":"string"},"transactionHash":{"type":"string"},"label":{"type":"string"}}},"AmberPageAmberDeposit":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/AmberDeposit"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"count":{"type":"integer","format":"int32"}}},"BaseResponseAmberPageAmberDeposit":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"status":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AmberPageAmberDeposit"}}},"AmberCurrencyConfig":{"type":"object","properties":{"allowDeposit":{"type":"boolean"},"allowWithdraw":{"type":"boolean"},"protocolDetails":{"type":"array","items":{"$ref":"#/components/schemas/AmberProtocolDetail"}}}},"AmberProtocolDetail":{"type":"object","properties":{"protocolName":{"type":"string"},"minDepositAmount":{"type":"string"},"minWithdrawalAmount":{"type":"string"},"withdrawalFee":{"type":"string"}}},"BaseResponseMapStringAmberCurrencyConfig":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"status":{"type":"string"},"message":{"type":"string"},"data":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/AmberCurrencyConfig"}}}},"AmberAccountBalance":{"type":"object","properties":{"totalAvailableBalanceInUSD":{"type":"string"},"totalCreditInUSD":{"type":"string"},"totalMarginLockedAmountInUSD":{"type":"string"},"temporaryLockedAmountInUSD":{"type":"string"},"totalCollateralAmountInUSD":{"type":"string"},"totalLoanAmountInUSD":{"type":"string"},"totalDefiAmountInUSD":{"type":"string"},"totalDualBottomLockedAmountInUSD":{"type":"string"},"totalDualCurrencyLockedAmountInUSD":{"type":"string"},"totalEarnLockedAmountInUSD":{"type":"string"},"totalExecutionLockedAmountInUSD":{"type":"string"},"totalFlexibleLockedAmountInUSD":{"type":"string"},"totalUpsideNoteLockedAmountInUSD":{"type":"string"},"totalSocialStrategyLockedAmountInUSD":{"type":"string"},"totalStakingLockedAmountInUSD":{"type":"string"},"totalStepUpEarnLockedAmountInUSD":{"type":"string"},"totalSpotLockedAmountInUSD":{"type":"string"},"totalWithdrawLockedAmountInUSD":{"type":"string"},"totalStructureFundLockedAmountInUSD":{"type":"string"},"totalQspFundLockedAmountInUSD":{"type":"string"},"totalArgonFundLockedAmountInUSD":{"type":"string"},"totalCarbonFundLockedAmountInUSD":{"type":"string"},"totalLithiumFundLockedAmountInUSD":{"type":"string"},"totalNeonFundLockedAmountInUSD":{"type":"string"},"balanceDetails":{"type":"array","items":{"$ref":"#/components/schemas/AmberBalanceDetail"}}}},"AmberBalanceDetail":{"type":"object","properties":{"ccy":{"type":"string"},"availableBalance":{"type":"string"},"marginLockedAmount":{"type":"string"},"temporaryLockedAmount":{"type":"string"},"priceInUSD":{"type":"string"},"collateralAmount":{"type":"string"},"loanAmount":{"type":"string"},"defiLockedAmount":{"type":"string"},"dualCurrencyLockedAmount":{"type":"string"},"dualBottomLockedAmount":{"type":"string"},"earnLockedAmount":{"type":"string"},"executionLockedAmount":{"type":"string"},"flexibleLockedAmount":{"type":"string"},"upsideNoteLockedAmount":{"type":"string"},"socialStrategyLockedAmount":{"type":"string"},"stakingLockedAmount":{"type":"string"},"stepUpEarnLockedAmount":{"type":"string"},"structureFundLockedAmount":{"type":"string"},"qspFundLockedAmount":{"type":"string"},"spotLockedAmount":{"type":"string"},"withdrawLockedAmount":{"type":"string"},"withdrawableAmount":{"type":"string"},"argonFundLockedAmount":{"type":"string"},"carbonFundLockedAmount":{"type":"string"},"lithiumFundLockedAmount":{"type":"string"},"neonFundLockedAmount":{"type":"string"}}},"BaseResponseAmberAccountBalance":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"status":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AmberAccountBalance"}}},"AmberAddress":{"type":"object","properties":{"transactionType":{"type":"string"},"status":{"type":"string"},"transferType":{"type":"string"},"assetType":{"type":"string"},"id":{"type":"string"},"address":{"type":"string"},"beneficiaryAddress":{"type":"string"},"beneficiaryName":{"type":"string"},"bankAddress":{"type":"string"},"bankName":{"type":"string"},"chainProtocol":{"type":"string"},"createdAt":{"type":"string"},"ccy":{"type":"string"},"isSafe":{"type":"boolean"},"bankCode":{"type":"string"},"remark":{"type":"string"},"tag":{"type":"string"},"comment":{"type":"string"}}},"AmberPageAmberAddress":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/AmberAddress"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"count":{"type":"integer","format":"int32"}}},"BaseResponseAmberPageAmberAddress":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"status":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AmberPageAmberAddress"}}},"AmberSgpDepositAddressItem":{"type":"object","properties":{"id":{"type":"string"},"address":{"type":"string"},"ccy":{"type":"string"},"chainProtocol":{"type":"string"},"memo":{"type":"string"},"tag":{"type":"string"}}},"BaseResponseListAmberSgpDepositAddressItem":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"status":{"type":"string"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/AmberSgpDepositAddressItem"}}}},"AmberDepositDetail":{"type":"object","properties":{"assetType":{"type":"string"},"status":{"type":"string"},"transactionType":{"type":"string"},"id":{"type":"string"},"amount":{"type":"string"},"arrivedAmount":{"type":"string"},"arrivedAt":{"type":"string"},"chainProtocol":{"type":"string"},"comment":{"type":"string"},"label":{"type":"string"},"ccy":{"type":"string"},"region":{"type":"string"},"remark":{"type":"string"},"transactionAddress":{"type":"string"},"transactionHash":{"type":"string"},"wireRef":{"type":"string"},"createdAt":{"type":"string"}}},"BaseResponseAmberDepositDetail":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"status":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AmberDepositDetail"}}}}}}